.hero{
    display: flex;
    justify-content: space-between;
}

.left-h{
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.the-best-add{
    margin-top: 4rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
}

.the-best-add>span{
    z-index: 200;
}
.the-best-add>div{
    position: absolute;
    background-color: var(--orange);
    width: 5.4rem;
    height: 80%;
    border-radius: 4rem;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 4.5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-overflow: inherit;
}
.hero-text>div:nth-of-type(3){
    font-size: 20px;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
}

.figures{
    display: flex;
    gap: 2rem;
}
.figures>div{
    display: flex;
    flex-direction: column;
}
.figures>div>span:nth-of-type(1){
    color: white;
    font-size: 2rem;
}
.figures>div>span:nth-of-type(2){
    color: grey;
    text-transform: none;
    text-transform: uppercase;
}

.hero-buttons{
    gap: 1rem;
    display: flex;
}
.btn{
   padding: 1rem;
   border:4px solid transparent;
   transition: 300ms all;
   background-color: white;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
}
.btn:hover{
    cursor: pointer;
}
.hero-buttons>:nth-of-type(1){
    background-color: var(--orange);
    width: 8rem;
    color: white;
}
.hero-buttons>:nth-of-type(2){
    width: 8rem;
    color: white;
    background-color: transparent;
    border: 4px solid var(--orange);
}

.right-h{
    background-color: var(--orange);
    position: relative;
    flex: 1;
}
.right-h>.btn{
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: black;
}
.heart-rate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--darkGrey);
    width: fit-content;
    padding: 1rem;
    align-items: start;
    position:absolute;
    right: 4rem;
    top: 7rem;
    border-radius: 5px;
}
.heart-rate>:nth-child(2){
    color: var(--gray);
}
.heart-rate>:nth-child(3){
    color: white;
    font-size: 1.5rem;
}

.hero_image{
    position: absolute;
    top: 10rem;
    right: 8rem;
    width: 23rem;
}
.hero_image_back{
    position: absolute;
    top: 4rem;
    right: 20rem;
    z-index: -1;
    width: 15rem;
}
.calories{
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
    background-color: var(--caloryCard);
    border-radius: 5px;
    width: fit-content;
    position: absolute;
    padding: 1rem;
    top: 38rem;
    right: 28rem;
    height: 110px;
}

.calories>img{
    width: 3rem;
}
.calories>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
.calories>div>:nth-child(1){
    color: var(--gray);
}
.calories>div>:nth-child(2){
    color: white;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
   .hero{
    display: flex;
    flex-direction: column;
   }
   .hero_image{
    display: none;
   }
   .btn{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .heart-rate{
    position: absolute;
    top: 5px;
    left: 10px;
   }
  }